*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --bg2: hsl(213, 30%, 13%);
}

body{
    display: grid;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background: var(--Very-Dark-Blue);
    min-height: 100vh;
}

.question, .thanks{
    display: grid;
    margin:  auto auto 0 auto;
    width: 320px;
    height: auto;
    background: linear-gradient(to top right, var(--bg2), var(--Dark-Blue));
    padding: 1.3rem;
    border-radius: 8px;
}

.question > img{
    background: var(--Dark-Blue);
    border-radius: 50%;
    padding: .7rem;
}

.question > h1{
    color: var(--White);
    margin-top: 1.5rem;
}

.question > p{
    color: var(--Medium-Grey);
    font-size: 12px;
}

.form > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 1.2rem 0;
}

.form > ul button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Dark-Blue);
    color: var(--White);
    border: none;
    font-weight: 400;
    width: 2.5rem;
    height: 2.5rem;
    padding: .6rem;
    border-radius: 50%;
    cursor: pointer;
}

.form > ul button:hover{
    background: var(--Orange);
}

.form > ul button:focus{
    background: var(--Light-Grey);
}

.form > button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--Orange);
    border: none;
    height: 1.8rem;
    border-radius: 20px;
    color: var(--White);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
}

.form > button:hover{
    background: var(--White);
    color: var(--Orange);
}

.thanks{
    text-align: center;
}

.thanks > img{
    margin: 0 auto;
}

.thanks > small{
    color: var(--Orange);
    background: var(--Dark-Blue);
    padding: .7rem;
    border-radius: 20px;
    width: max-content;
    margin: .9rem auto;
}

.thanks > h2{
    color: var(--White);
}

.thanks > p{
    color: var(--Medium-Grey);
    text-align: center;
    margin-top: .5rem;
    font-size: 12.4px;
    line-height: 1.5;
}

.attribution { 
    margin-top: auto;
    font-size: 11px; 
    text-align: center; 
    color: var(--Orange);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* ========To hide and display thank you message */
.hidden{
    display: none;
}